<section class="text-gray-600 body-font relative flex-grow">
    <div class="container px-5 py-20 mx-auto flex">
        <div class="lg:w-1/3 md:w-1/2 flex flex-col md:mx-auto w-full mt-10 md:mt-0 relative">
            <p class="text-gray-700 text-center text-5xl mb-5">Forgot Password?</p>
            <div class="relative mb-4" *ngIf="!isSent">
                <label for="email" class="leading-7 text-sm text-gray-600">Email or phone number</label>
                <input type="email" id="email" name="email" [value]="recoveryText"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button *ngIf="!isSent"
                class="text-white bg-lime-500 border-0 py-2 px-6 focus:outline-none hover:bg-lime-600 rounded text-lg"
                (click)="send()">Send</button>
            <p *ngIf="isSent">We sent a password reset link to your email or phone number.</p>
            <a class="text-xs text-gray-500 mt-3" href="login">Login your account?</a>
        </div>
    </div>
</section>