




<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto lg:flex lg:flex-wrap">
      <div class="lg:w-full lg:mx-auto">
        <div class="lg:flex lg:flex-wrap -mx-2  mb-4">
            <div class="px-2 lg:w-1/2 mb-2">
              <div class="lg:flex lg:flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <div class="text-center relative z-10 w-full">
                    <div echarts [options]="verticalLineChartOption" [autoResize]=true class="demo-chart"></div>
                    <h5>Top Selling Items</h5>
                </div>
              </div>
            </div>
            <div class="px-2 lg:w-1/2 mb-2">
              <div class="lg:flex lg:flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <div class="text-center relative z-10 w-full">
                    <div echarts [options]="dataSetOption" [autoResize]=true class="demo-chart"></div>
                    <h5>Average Lock Duration</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="lg:flex lg:flex-wrap -mx-2 mb-4">
            <div class="px-2 lg:w-1/2 mb-2">
              <div class="lg:flex lg:flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <div class="text-center relative z-10 w-full">
                    <div echarts [options]="lineChartOption" [autoResize]=true class="demo-chart"></div>
                    <h5>Transaction per day by Branch</h5>
                </div>
              </div>
            </div>
            <div class="px-2 lg:w-1/2 mb-2">
              <div class="lg:flex lg:flex-wrap w-full bg-gray-100 sm:py-24 py-16 sm:px-10 px-6 relative">
                <div class="text-center relative z-10 w-full">
                    <div echarts [options]="pieChartOption" [autoResize]=true class="demo-chart"></div>
                    <h5>API Calls by Endpoint</h5>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>
  