<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900" href="">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-12 h-12" viewBox="0 0 1080 1080"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="207.56" y1="540" x2="872.44" y2="540" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8cc63f"/><stop offset="1" stop-color="#39b54a"/></linearGradient></defs><path class="cls-1" d="M872.44,399V681c0,105.7-85.69,191.39-191.39,191.39H399c-105.71,0-191.4-85.69-191.4-191.39V399c0-105.72,85.69-191.39,191.4-191.39H681.05C786.75,207.57,872.44,293.24,872.44,399Z"/><path class="cls-2" d="M688.5,190h-297C280.22,190,190,280.21,190,391.51v297C190,799.77,280.22,890,391.51,890h297C799.78,890,890,799.77,890,688.49v-297C890,280.21,799.78,190,688.5,190ZM862.85,688.49c0,96.14-78.21,174.36-174.35,174.36h-297c-96.14,0-174.36-78.22-174.36-174.36v-297c0-96.14,78.22-174.36,174.36-174.36h297c96.14,0,174.35,78.22,174.35,174.36Z"/><path class="cls-2" d="M376.84,435.9v-8.3a105.1,105.1,0,0,1,105-105H600a105.14,105.14,0,0,1,97.36,65.77h63.8C743.52,315.8,678,261.75,600,261.75H481.82C390.37,261.75,316,336.15,316,427.6v69.17H705V672.91A82.21,82.21,0,0,1,622.88,755H459a82.22,82.22,0,0,1-82.13-82.12V544.27H316V672.91c0,78.84,64.15,143,143,143H622.88c78.85,0,143-64.15,143-143v-237Z"/><path class="cls-2" d="M491.57,682.36a24.49,24.49,0,0,0,24.49,24.48h0a24.48,24.48,0,0,0,24.48-24.48V642h25.74a45.91,45.91,0,0,0,43.25-30.52h6.19a15.38,15.38,0,0,0,0-30.76h-6.19a45.89,45.89,0,0,0-43.25-30.52H519.4A27.83,27.83,0,0,0,491.57,578v2.7H481.7a15.38,15.38,0,0,0,0,30.76h9.87v70.93Z"/></svg>
        <span class="ml-3 text-xl">PriceLock - Admin</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 PriceLock
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500" href="https://facebook.com/cvsuotaku/" target="_blank">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/alquinn-john-gayatao-77a671130/" target="_blank">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>