<section class="text-gray-600 body-font relative">
    <div class="container px-5 pb-20 mx-auto flex">
        <div class="lg:w-1/3 md:w-1/2 flex flex-col md:mx-auto w-full mt-10 md:mt-0 relative">
            <img class="mx-auto" width="300px" src="./assets/logo.svg" />
            <p class="text-gray-700 text-center text-5xl">Price Lock</p>
            <p class="leading-relaxed mb-5 text-gray-600 text-center text-3xl">Pay now, Consume Later</p>
            <div class="relative mb-4">
                <label for="username" class="leading-7 text-sm text-gray-600">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="loginForm.username"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="loginForm.password"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button
                class="text-white bg-lime-500 border-0 py-2 px-6 focus:outline-none hover:bg-lime-600 rounded text-lg" (click)="login()">Login</button>
            <a class="text-xs text-gray-500 mt-3" href="forgot-password">Forgot Password?</a>
        </div>
    </div>
</section>